.service-icon,.service-icons,.service-icon1{

    line-height: 40px;
    text-align: center;
}

.service-icon{
    width: 45px;
    height: 45px;
}
.service-icons,.service-icon1{
    width: 65px;
    height: 40px;
}
.txtgr{
    color: gray;
}

.service-icons.color-1,.service-icon.service-icon.color-1,.service-icon1.service-icon1.color-1{
    background-color: aqua;
}
.service-icons.color-2,.service-icon.service-icon.color-2,.service-icon1.service-icon1.color-2{
    background-color: #fdff00;
}
.service-icons.color-3,.service-icon.service-icon.color-3,.service-icon1.service-icon1.color-3{
    background-color: #fe0000;
}
.service-icons.color-4,.service-icon.service-icon.color-4,.service-icon1.service-icon1.color-4{
    background-color: #02c435;
}


@media (max-width :1024px ) {
    .arrow-center{
        text-align: center;
        padding-bottom: 10px;

    }
}
@media (max-width :1024px) {
    .service2{
        flex-direction: column;
        
    }
    .service-icons{
        width: 40px;
    }

    .service-icon1{
        width: 110px;
        line-height:-90px;
        text-align: center;
        
    }
}

